[user]
	email = kiwi.ryanmoore@gmail.com
	name = Ryan Moore
[core]
	excludesfile = /Users/ryan/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
